body{

background: #FF0104;
background: linear-gradient(180deg, #FF0104, #0B0B0A);

}

main{
    height: 100vh;
}

.login{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.logar{
    display: flex;
    justify-content: center;
}

.card{
    background-color: black;
    padding: 2em;
    color: red;
}

a{
    text-decoration: none;
    color:red;
    margin: 5px;
}

